html, body, div, ul, li, span, input, textarea, button {
  padding: 0;
  margin: 0;
  list-style: none;
  /*font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  color: #444750;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}