/* Clear */
html, body, div, ul, li, span, input, textarea, button {
  padding: 0;
  margin: 0;
  list-style: none;
  /*font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  color: #444750;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

textarea {
  outline: none;
  border: none;
  resize: none;
  font-style: italic;
  background-color: #f6f6f6;
  overflow: auto;
}

.no-user-select {
  -webkit-user-select: none;
  cursor: default;
}

.link:hover {
  background-color: #444750;
  cursor: pointer;
  color: #f6f6f6;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #f6f6f6;
  height: 100%;
}

a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.underline.link:hover {
  text-decoration: none;
}

.abs-center {
  width: 768px;
  margin: 0 auto;
}

.container {
  width: 100%;
  min-width: 768px;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.afterLoading {
  opacity: 100;
  -webkit-transition: all 0.5s ease-in-out;
}

.afterLoading.ng-enter {
  opacity: 0;
}

.mininoic {
  padding-top: 40px;
  text-align: center;
  font-size: 18px;
}

.mininoic .desc {
  margin-top: 10px;
}

.mininoic .desc .underline {
  font-weight: bold;
}

.app-name {
  padding-top: 40px;
  font-size: 60px;
  text-align: center;
  padding-bottom: 70px;
}

.app {
  overflow: hidden;
  top: 50%;
  font-size: 36px;
}

.app .time {
  z-index: 2;
  width: 50%;
  height: 100%;
  text-align: right;
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
}

.app .time.full-left {
  width: 30%;
}

.app .time .info {
  margin-right: 1em;
}

.app .time .info .date-month {
  overflow: hidden;
}

.app .time .info .date-month div {
  float: right;
  font-size: 72px;
  margin: auto 5px;
}

.app .module {
  -webkit-transition: all 0.5s ease-in-out;
  border-left: 2px solid #6e7584;
  overflow: hidden;
  text-align: left;
  float: left;
  width: 50%;
  min-height: 185px;
  padding-left: 1em;
  position: relative;
}

.app .module.full-left {
  overflow: hidden;
  width: 70%;
}

.module-content-view.ng-enter, .module-content-view.ng-leave {
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out; /*cubic-bezier(.6,.18,.83,.65);*/
}

.module-content-view.ng-enter {
  opacity: 0;
  margin-left: -100%;
}

.module-content-view.ng-leave.ng-leave-active {
  opacity: 0;
  margin-left: 100%;
}

.module-content-view.ng-leave,
.module-content-view.ng-enter.ng-enter-active {
  opacity: 100;
  margin-left: 0;
}

.app .module .greeting {
  line-height: 56px;
}

.app .module .greeting .button {
  font-size: 48px;
}

.app .module .quick-create-home .label, .no-input {
  font-size: 20px;
}

.app .module .quick-create-home .no-input .link {
  font-weight: bold;
}

.app .module .quick-create-home .no-input.sign-in {
  margin-top: 3em;
}

.app .module .quick-create-home .input textarea {  
  padding: 0.3em 0;
  font-size: 36px;
  width: 100%;
}

.more {
  position: fixed;
  width: 100%; 
  bottom: 0;
  text-align: center;
  cursor: pointer;
  background-color: #444750;
}

.more .text {
  width: 768px;
  margin: 0 auto;
  line-height: 50px;
  color: #f6f6f6;
  font-weight: bold;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
