@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,200italic,300italic&subset=vietnamese);

/* Clear */

html,
body,
div,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  /*font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  color: #444750;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.link:hover {
  background-color: #444750;
  cursor: pointer;
  color: #f6f6f6;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #f6f6f6;
  height: 100%;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.abs-center {
  position: absolute;
  width: 768px;
  left: 50%;
  margin-left: -384px;
}

.container {
  width: 100%;
  min-width: 768px;
  min-height: 100%;
  overflow: hidden;
}

.mininoic {
  top: 60px;
  text-align: center;
  font-size: 18px;
}

.mininoic .logo {
  width: 31px;
  height: 38px;
  margin: 0 auto;
  background: url("../images/logo.png") no-repeat center center;
  cursor: pointer;
}

.mininoic .desc {
  margin-top: 10px;
}

.mininoic .desc .underline {
  font-weight: bold;
}

.mininoic .desc .underline:hover {
  text-decoration: none;
}

.app-name {
  top: 160px;
  font-size: 60px;
  text-align: center;
}

.app {
  overflow: hidden;
  top: 50%;
  font-size: 36px;
}

.app .time,
.module {
  width: 50%;
  height: 100%;
}

.app .time {
  text-align: right;
  float: left;
  border-right: 2px solid #6e7584;
}

.app .time .info {
  margin-right: 1em;
}

.app .time .info .date-month {
  overflow: hidden;
}

.app .time .info .date-month div {
  float: right;
  font-size: 72px;
  margin: auto 5px;
}

.app .module {
  text-align: left;
  float: right;
  margin: auto auto;
}

.app .module .vertical-center {
  margin-left: 1em;
  line-height: 56px;
}

.app .module .button {
  /*font-family: 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
  /*font-family:'HelveticaNeueW01-Thin';*/
  font-weight: 300;
  font-size: 48px;
}

.more {
  bottom: 0;
  text-align: center;
  cursor: pointer;
}

.more .text {
  width: 768px;
  margin: 0 auto;
  line-height: 50px;
  font-weight: bold;
}

.more:hover {
  background-color: #444750;
}

.more:hover .text {
  color: #f6f6f6;
  font-weight: bold;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {

}