<div class="form module-content" grid=2 ng-init="noidung='o ho ho ho ho'">
	<div class="input">
		<div class="title">
			nội dung
		</div>
		<textarea class="size-full" msd-elastic spellcheck="false" ng-model="noidung" type="text" placeholder="">
		</textarea>
	</div>
	<div class="title">
		thời gian
	</div>
	<div class="input">
		<input class="size-2" spellcheck="false" type="text" value="10" maxlength="2">
		</input>
		<span class="label">
			giờ
		</span>
		<input class="size-2" spellcheck="false" type="text" value="10" maxlength="2">
		</input>
		<span class="label">
			phút
		</span>
		<input class="size-2" spellcheck="false" type="text" value="tối" maxlength="2">
		</input>
		<span class="label">
			hàng
		</span>
		<input class="size-4" spellcheck="false" type="text" value="ngày" maxlength="5">
		</input>
	</div>
	<div class="input">
		<input class="size-2" spellcheck="false" type="text" value="10" maxlength="2">
		</input>
		<span class="label">
			giờ
		</span>
		<input class="size-2" spellcheck="false" type="text" value="10" maxlength="2">
		</input>
		<span class="label">
			phút
		</span>
		<input class="size-2" spellcheck="false" type="text" value="tối" maxlength="2">
		</input>
	</div>
	<div class="input">
		<span class="label">
			ngày
		</span><input class="size-2" spellcheck="false" type="text" value="10" maxlength="2">
		</input>
		<span class="label">
			hàng
		</span>
		<input class="size-4" spellcheck="false" type="text" value="tháng" maxlength="5">
		</input>
	</div>
	<div class="input">
		<span class="label">
			ngày
		</span><input class="size-2" spellcheck="false" type="text" value="10" maxlength="2">
		</input>
		<span class="label">
			tháng
		</span>
		<input class="size-2" spellcheck="false" type="text" value="10" maxlength="2">
		</input>
		<span class="label">
			hàng
		</span>
		<input class="size-4" spellcheck="false" type="text" value="năm" maxlength="5">
		</input>
	</div>
	<div class="input">
		<span class="label">
			email
		</span><input class="size-16" spellcheck="false" type="text" value="anhnt.fami@gmail.com">
		</input>
	</div>
	<div class="button">
		<a href="#/under-construction" class="underline link">
			đặt nhắc nhở
		</a>
		<span> hoặc </span> 
		<a href="#/under-construction" class="underline link">
			hủy nhắc nhở
		</a> 
	</div>
</div>