<div class="form module-content" grid=3>
	<div class="input">
		<div class="title">
			email
		</div>
		<input ng-model="email" class="size-17" spellcheck="false" type="text" placeholder="your@email.com">
		</input>
	</div>
	<div class="seperator"></div>
	<div class="info">
		<p>Chúng tôi sẽ gửi cho bạn một email với danh sách các nhắc nhở bạn đã tạo và đường dẫn để bạn chọn xóa từng nhắc nhở tương ứng.</p>
	</div>
	<div class="button">
		<a ng-click="submit()" class="underline link">yêu cầu xóa</a>
		<span>hoặc</span> 
		<a ng-click="main.back()" class="underline link">quay lại</a> 
	</div>
</div>