<div autoscroll class="controlpanel module-content" grid = 2>
	<table class="menu">
		<tbody>
			<tr class="title">
				<td class="select"></td>
				<td class="desc">Nội dung</td>
				<td class="time">Thời gian</td>
				<td class="repeat">Lặp lại</td>
				<td class="pre">Báo trước</td>
				<td class="status"></td>
			</tr>
		</tbody>
	</table>
	<table class="list">
		<tbody>
			<tr ng-repeat="event in events track by $index" ng-class="{on: event.status}">
				<td class="select">
					<div class="checker-outer" ng-class="{checked: event.checked}" ng-click="event.checked=!event.checked; countChecker();">
						<div class="checker-inner"></div>
					</div>
				</td>
				<td  ng-click="event.edit()" class="desc">{{event.desc}}</td>
				<td  ng-click="event.edit()" class="time">{{event.time}}</td>
				<td  ng-click="event.edit()" class="repeat no-mobile-display">{{event.repeat}}</td>
				<td  ng-click="event.edit()" class="pre">{{event.pre}}</td>
				<td class="status">
					<div class="switcher-background" ng-class="{on: event.status}" ng-click="event.switchStatus();">
						<div class="switcher-move"></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="toolbar" ng-class="{hasDeleteButton: deleteList.length}"><div class="delete" ng-click="delete()" >Xóa <span ng-if="deleteList.length>1">{{deleteList.length}}</span> nhắc nhở đã chọn</div><div class="create" ng-click="create()">Tạo nhắc nhở mới</div></div>
</div>