<div class="loading-screen" ng-if="loading.value" ng-controller="LoadingscreenCtrl">fdasfadsfdsafdasfdsafdsafdsafdsafdsafdsafdasfdsafdsa</div>
<div class="container afterLoading" ng-if="!loading.value">
	<div class="mininoic abs-center no-user-select">
		<div class="logo"></div>
		<div class="desc">một sản phẩm của <span class="underline link">mininoic</span></div>
	</div>
	
	<div class="app-name abs-center no-user-select pointer">âm dương lịch</div>
	
	<div class="app abs-center no-user-select" ng-init="state.value=1" app-directive>
		<div class="time">
			<div class="info">
				<div class="day">thứ sáu</div>
				<div class="date-month">
					<div class="month">10</div>
					<div class="seperator">|</div>
					<div class="date">20</div>
				</div>
				<div class="year">năm quý tỵ</div>
			</div>
		</div>
		<div class="module">
			<div class="greeting module-content" ng-if="state.value==1">
				<div class="button"><span class="link" ng-click="state.value=3">đăng nhập</span></div>
				<div class="or"><span>hoặc</span></div>
				<div class="button"><span class="link" ng-click="state.value=2">tạo nhanh</span></div>
			</div>
			<div class="quick-create-home module-content" ng-if="state.value==2" ng-controller="QuickcreateCtrl">
				<div class="label">Gõ để tạo nhắc nhở mới</div>
				<div class="input">
					<textarea msd-elastic spellcheck="false" ng-model="input" type="text" placeholder="Cúng rằm lúc 12h ngày 15 hàng tháng"></textarea>
				</div>
				<div class="no-input" ng-bind="token"></div>
				<div class="no-input" ng-if="!input.length">hoặc <span class="underline link" ng-click="state.value=3">tạo theo mẫu.</span></div>
				<div class="no-input" ng-if="input.length">ấn phím <span class="underline link">Enter</span> để tạo nhắc nhở.</div>
				<div class="no-input sign-in">hoặc <span class="underline link" ng-click="state.value=3">đăng nhập</span> để sử dụng nhiều tính năng hơn.</div>
			</div>
			<div class="greeting module-content" ng-if="state.value==3">
				<div class="button">xin lỗi</div>
				<div class="or"><span>tính năng này đang được xây dựng</span></div>
				<div class="button"><span class="underline link" ng-click="state.value=1">quay lại</span></div>
			</div>
		</div>
	</div>
</div>
<div class="more no-user-select afterLoading" ng-if="!loading.value">
		<div class="text">tìm hiểu thêm</div>
		<div class="arrow"></div>
	</div>