<div class="mininoic">
	<div class="logo"></div>
	<div class="desc">một sản phẩm của <span class="underline">mininoic</span></div>
</div>

<div class="app-name">âm dương lịch</div>

<div class="app">
	<div class="time">
		<div class="info">
			<div class="day">thứ sáu</div>
			<div class="date-month">
				<div class="month">10</div>
				<div class="seperator">|</div>
				<div class="date">20</div>
			</div>
			<div class="year">năm quý tỵ</div>
		</div>
	</div>
	<div class="module">
		<div class="vertical-center">
			<div class="button">đăng nhập</div>
			<div class="or">hoặc</div>
			<div class="button">tạo nhanh</div>
		</div>
	</div>
</div>

<div class="more">
	<div class="text">tìm hiểu thêm</div>
	<div class="arrow"></div>
</div>